
a{
    display: inline-block;
    position: relative;
    text-decoration: none;
}

a, a:hover{
    text-decoration: none;
}

a {
    color: #2F56B0;
    position: relative;
    text-decoration: none;
    transition: color .4s ease-out;
}
  
p > a:hover {
    color: #457DFB;
    right: 0;
    text-decoration: none;
}
  
p > a:hover:after {
    border-color: #457DFB;
    right: 0;
}
  
p > a:after {
    border-radius: 1em;
    border-top: .1em solid #2F56B0;
    content: "";
    position: absolute;
      right: 100%;
      bottom: .14em;
      left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1),
                border-color .4s ease-out;
}

p > a:hover:after {
    animation: anchor-underline 2s cubic-bezier(0,.5,0,1) infinite;
    border-color: #457DFB;
}

.container{
    margin: 0 auto;
    max-width: 95%;
    padding: 0px 1.0875rem 1.45rem;
    padding-top: 0;
}

.header{
    text-align: center;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title {
    color: #4A4A4A;
    font-size: 2.0em
}

.header-subtitle {
    font-size: 1.1em;
    color: gray;
}

.article {
    margin: 4rem auto;
    padding: 0 .5rem;
}



.post-title{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.post-title > a {
    text-decoration: none !important;
    color: #4A4A4A;
}

.post-title:hover > a{
    color: black;
}

.post-excerpt{
    font-size: 14.5px;
    font-size: 0.95em;
}

.post-excerpt > p {
    line-height: 1.7em;
}

.post-meta{
    display: flex;
    flex-wrap: wrap;
}


.post-meta-tag-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 .5rem;
}

.post-meta-link {
    margin: 0 0.3em 0.3em 0;
}

.post-meta .post-meta-link > a {
    color: #9EABB3;
}

.post-meta-link > a {
    text-decoration: none;
}

pre{
    background: #272822;
    color: #f8f8f2;
}

@media screen and (min-width: 650px){
    .container{
        max-width: 80%;
    }

    .header{
        height: 30vh;
    }

    .header-title {
        font-size: 2.5em
    }
    
    .header-subtitle {
        font-size: 1.5em;
    }

    .post-title{
        font-size: 1.7rem;
    }

    .post-excerpt{
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1150px){
    .header-title {
        font-size: 2.7em
    }

    .post-title{
        font-size: 2rem;
    }

    .post-excerpt{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 950px){
    .container{
        max-width: 850px;
    }
}


/*animation*/ 
@keyframes anchor-underline {
    0%, 10% {
      left: 0;
      right: 100%;
    }
    40%, 60% {
      left: 0;
      right: 0;
    }
    90%, 100% {
      left: 100%;
      right: 0;
    }
}