.content-site {
  flex: 1 0 auto;
}
.footer-site {
  flex-shrink: 0;
}

.title-color {
  color: #4c8bbd !important;
}

.title-color:hover {
  color: #407daf !important;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  margin-left: 0;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none;
}

a {
  color: #2f56b0;
  position: relative;
  text-decoration: none;
  transition: color 0.4s ease-out;
}

p > a:hover {
  color: #457dfb;
  right: 0;
  text-decoration: none;
}

p > a:hover:after,
li a:hover:after {
  border-color: #457dfb;
  right: 0;
}

p > a:after,
li a:after {
  border-radius: 1em;
  border-top: 0.1em solid #2f56b0;
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0.14em;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1), border-color 0.4s ease-out;
}

p > a:hover:after,
li a:hover:after {
  animation: anchor-underline 2s cubic-bezier(0, 0.5, 0, 1) infinite;
  border-color: #457dfb;
}

.feature {
  background-color: #c7def8;
  color: #000000;
}

ul li small {
  background: #4c8bbd !important;
  color: white;
}

ul li:nth-child(3n + 3) small {
  background-color: #9944dd !important;
  color: #ffffff;
}

ul li:nth-child(4n-1) small {
  background-color: #006b75 !important;
  color: #ffffff;
}

@media screen and (min-width: 950px) {
  .container {
    max-width: 850px;
  }
}

/*animation*/
@keyframes anchor-underline {
  0%,
  10% {
    left: 0;
    right: 100%;
  }
  40%,
  60% {
    left: 0;
    right: 0;
  }
  90%,
  100% {
    left: 100%;
    right: 0;
  }
}

@keyframes shake-it {
  33% {
    transform: rotateZ(10deg);
  }
  67% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}

/*
Nuevo css style
*/

.postcard-container {
  width: 90%;
  margin: auto;
}

.postcard-list {
  display: flex;
  flex-direction: column;
}

.postcard-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.postcard {
  max-width: 400px;
  width: 100%;
  min-height: 452px;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px solid gray;
}

.postcard-title,
.postcard-extract {
  padding: 0 1rem;
}

@media screen and (min-width: 600px) {
  .postcard-list {
    flex-flow: row wrap;
  }
  .postcard-list > li {
    max-width: 48%;
  }
  .postcard-list > li:nth-child(2n + 0) {
    margin-left: 10px;
  }
}

@media screen and (min-width: 900px) {
  .postcard-list {
    justify-content: flex-start;
  }
  .postcard-list > li {
    max-width: 32%;
  }
}

@media screen and (min-width: 1200px) {
  .postcard-container {
    width: 65%;
  }
}
